header {
    background-color: hsl(330, 99%, 31%);
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.imagem-logo {
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 20px;



}